#heroSection .banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/banners/banner.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 500px;
  width: 100%;
}

#heroSection .banner .container h1 {
  padding: 40px 0 10px 0;
}
#heroSection .banner .container h4 {
  max-width: 500px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}
#heroSection {
  margin-bottom: 80px;
}

#about .container .aboutus {
  margin-bottom: 50px;
}
#about .container {
  margin-bottom: 80px;
}

#featuredDishes {
  margin-bottom: 80px;
}

#whyChoose {
  margin-bottom: 80px;
}
#customerTestimo {
  margin-bottom: 80px;
}
