* {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1280px;
}

header .navbar {
  background: #0d0d0d;
}

header .container .nav-item {
  padding-right: 48px;
}
header .container .navbar-brand {
  margin-right: 128px;
}

header .container .nav-link {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

header .container .btnCont {
  background: #ffd2a4;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  line-height: 16px;
  padding: 20px 48px;
  border: none;
  margin: 12px 0px;
}

#banner {
  background: url(./images/Image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner .container h5 {
  text-transform: uppercase;
  color: #ffffff;
  font-style: 16px;
  font-weight: 700;
}
#banner .container .learnContent {
  padding: 128px 0px;
  width: 592px;
}
#banner .container .learnContent h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  max-width: 592px;
  margin-top: 16px;
}

#banner .container .btnLermor {
  background: #ffd2a4;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  line-height: 16px;
  padding: 20px 48px;
  border: none;
  margin: 12px 0px;
  margin-top: 32px;
}
#banner .container p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 64px;
  max-width: 308px;
  position: relative;
  margin-left: 30px;
}
#banner .container p::before {
  content: "";
  height: 2px;
  width: 18px;
  background: #ffd2a4;
  position: absolute;
  top: 12px;
  left: -30px;
}
#realetive {
  margin-top: 128px;
}

#realetive .title {
  text-align: center;
  margin-bottom: 64px;
}

#realetive .title h6 {
  font-size: 16px;
  font-weight: 400;
  color: #161722;
  text-transform: uppercase;
}
#realetive .title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1%;
  color: #161722;
  text-transform: uppercase;
}
#realetive .item {
  width: 100%;
  padding: 80px;
  position: relative;
  background: #fff5eb;
}
#realetive .item::after {
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffd2a4;
  height: 16px;
}
#realetive .item .icon {
  width: 48px;
  height: 48px;
  background: #ffd2a4;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
}
#realetive .item h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -1%;
  color: #161722;
  margin-top: 24px;
}
#realetive .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #161722;
  margin-top: 8px;
  max-width: 251px;
}
#compassion {
  margin-top: 128px;
}
#compassion .title {
  text-align: center;
}

#compassion .title h6 {
  font-size: 16px;
  font-weight: 400;
  color: #161722;
  text-transform: uppercase;
}
#compassion .title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1%;
  color: #161722;
  text-transform: uppercase;
}
#compassion .title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #161722;
  max-width: 846px;
  margin: 0 auto;
  margin-top: 32px;
}
#compassion .title button {
  background: #ffd2a4;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  line-height: 16px;
  padding: 20px 48px;
  border: none;
  margin: 12px 0px;
}
#compassion .row img {
  width: 293px;
}
#compassion .row .centerCard {
  margin-top: 64px;
  width: 390px;
}
#compassion .row .item {
  text-align: center;
  margin-bottom: 64px;
}
#compassion .last .title h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #161722;
}
#compassion .last .title h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1%;
  text-transform: uppercase;
  margin-top: 16px;
  color: #161722;
}
#compassion .last .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 512px;
  margin-top: 16px;
  color: #161722;
  margin-bottom: 16px;
}
#compassion .last .title a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #161722;
}
